*,
*::after,
*::before {
  box-sizing: inherit;
}
/*пр*/
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;

}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  box-shadow: 0 0 7px rgba(0,0,0,0.2);

 }

 .list {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 .main-header {
   position: fixed;
   top: 0;
   left:  0;
   right: 0;
   z-index: 1;
   margin: 0 auto;
   max-width: 1200px;
 }


.hero {
  position: relative;
  background-image: url("../img/background_photo.jpg");
  background-position: top left 0.1px;
  background-repeat: no-repeat;
}

.welcome {
  max-width: 459px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /*правильно ли делать паддингами?*/
  padding-top: 132px;
  padding-bottom: 71px;

}

.hero-hotels {
  background-image: url("../img/filter_background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-nav-logo {
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}

.main-nav {
  font-weight: 700;
  color: #000000;
  z-index: 1;

  background-color: #ffffff;
}

.nav-list {
  list-style: none;
  padding: 14px 0 16px;
  display: flex;
}

.nav-item {
  /*из макета, по тз. И временно чась стилей в разметке*/
  width: 239px;
  text-align: center;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #81b3d2;
}

.main-nav a:active {
  color: rgba(0,0,0, 0.3);
}

.advantage-box {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.advantage-title {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  /*временно*/
  width: 600px;
  letter-spacing: 0.2px;
}

.advantage-subtitle {
  margin: 0;
  /*временно*/
  padding: 28px 0 25px;
  letter-spacing: 0.1px;
}

.advantage-list {
  background-color: #eeeeee;
}

.advantage-first-item-box {
  display: flex;
}

.advantage-inner-img {
  max-width: 100%;
  height: auto;
}

.advantage-first-text {
  background-color: rgba(129,179,210, 0.98);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*временно*/
  width: 400px;
}

.advantage-first-text h2 {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  /*временно*/
  padding: 0 100px;
}

.advantage-first-text p {
  color: #ffffff;
  padding: 0 50px;
}

.house::before {
  content: url("../img/icon-1.svg");
}

.burger::before {
  content: url("../img/icon-3.svg");
}

.gift::before {
  content: url("../img/icon-2.svg");
}

.advantage-inner-list {
  display: flex;
  /*align-content: center;*/
  width: calc(100/3);
  background-color: #ffffff;
  /*временно*/
  height: 330px;

}

.advantage-inner-item {
  padding-top: 50px;
}

.advantage-inner-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-align: center;

}

.advantage-inner-item p {
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

.advantage-second-item-box {
  display: flex;
  flex-direction: row-reverse;
}

.advantage-second-text {
  background-color: rgba(129,179,210, 0.98);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*временно*/
  width: 400px;
}

.advantage-second-text h2 {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  /*временно*/
  padding: 0 120px;
}

.advantage-second-text p {
  color: #ffffff;
  padding: 0 50px;
}

.advantage-another-list {
  background-color: #eeeeee;
  display: flex;
  width: calc(100/3);
  /*временно,*/
  height: 256px;
  padding-top: 40px;
}

.advantage-another-list h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
}

.advantage-another-list p {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}

.hotels-search {
  text-align: center;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1200px;
}

.hotels-search-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-top: 50px;
}

.hotels-search-description{
  line-height: 24px;
}

.hotels-search-button {
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 0.01px;
  color:  #ffffff;

  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
  margin: 0 auto;
  max-width: 568px;

  padding: 30px 132px 30px;

}

.hotels-search-button:hover,
.hotels-search-button:focus {
  background-color: #604e43;
}

.hotels-search-button:active {
  background-color: #503e33;
}

.search-form-box {
  background-color: #ffffff;
  padding: 50px;
  margin: 0 auto;
  max-width: 568px;
  display: flex;
  justify-content: left; /*как потом сделать кнопку по центру*/
  flex-direction: column;
  position: absolute;
  top: 2078px;
  left:  0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  max-width: 568px;
  z-index: 2;
}

/*.map {
  position: absolute;
  margin: 0 auto;
  max-width: 1200px;
  top: -350px;
  z-index: 0;
}*/

.search-form {
  background-color: #ffffff;
  border: none;

}

.search-form-box label{
  font: inherit;
  font-weight: 700;
  color: #000000;
}
.search-form-box input{
  font: inherit;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  border: none;
}
.search-form-item-input-text-box::after {
  content: url("../img/calendar.svg")
}

.search-form-button {
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  max-width: 458px;
  padding: 17px 195px;
}

.main-footer {
  text-align: center;
   background-color: #ffffff;
   display: flex;
   justify-content: space-around;
}

.social-list {
  display: flex;
  justify-content: space-around;
}

.hashtag-footer {
  font-weight: 700;
  font-size: 21px;

  color: #000000;
}
.box {
    padding-left: 71px;
    padding-right: 71px;
}

.filter {
  display: flex;
}

.sorting-box {
  text-align: left;

  background-color: #ffffff;

  display: flex;
}

.sorting-list {
  text-decoration: underline;
  text-decoration-style: dotted;

  display: flex;
  justify-content: space-around;
}

.sorting-box {
  text-align: center;
  background-color: #ffffff;
}

.sorting-box a {
  color: rgba(0,0,0, 0.3);
}

.sorting-box a:hover,
.sorting-box a:focus {
  color: #81b3d2;
}

.sorting-box a:active {
  color: #000000;
}

.container-catalog {
  background-color: #ffffff;
}

.hotel-list {
  display: flex;
  flex-direction: column;
}

.hotel {
  display: flex;
}

.hotel h3 {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.hotel h3:hover,
.hotel h3:focus {
  color: #81b3d2;
}
.hotel h3:active {
  color: rgba(0,0,0, 0.3);
}

.hotel label {
  line-height: 21px;
}

.hotel-battons-more {
  font-size: 700;
  line-height: 21px;
  color: #ffffff;
  max-width: 110px;
  padding: 8px 16px;
  background-color: #81b3d2;
}

.hotel-battons-more:hover,
.hotel-battons-more:focus {
  background-color: #669ec0;
}

.hotel-battons-more:active {
  color: rgba(255,255,255,255,0,3);
  background-color: #5496bd;
}

.hotel-battons-reserv {
  font-size: 700;
  line-height: 21px;
  color: #ffffff;
  max-width: 142px;
  padding: 8px 16px;
  background-color: #766357;
}

.hotel-battons-reserv:hover,
.hotel-battons-reserv:focus {
  background-color: #604e43;
}

.hotel-battons-reserv:active {
  color: rgba(255,255,255,255,0,3);
  background-color: #503e33;
}
