*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;

   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 26px;
   font-style: normal;
   color: #333333;
   text-transform: uppercase;

   background-color: #F2F2F2;

}

 img {
   max-width: 100%;
   height: auto;
}

 a {
   text-decoration: none
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.5);
 }


.hero {
  background-image: url("../img/banner.jpg");
  background-position: top;
  background-repeat: no-repeat;
  image:  url("../img/polygon.png");
  /*для себя*/


  height: 600px;



}

.hero-hotels {
  background-image: url("../img/filter_background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/.main-nav-logo {
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

/* что то здесь не так*/
.nav-link {


}

.nav-list:nth-child(3) {
  margin-left: auto;
}

.nav-item {
  padding: 15px 0 15px;
  width: 240px;
}

.main-nav {
  font-weight: 700;
  color: #000000;
}

.nav-list {
  list-style: none;

}

.main-nav {
  background-color: #ffffff;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #81b3d2;
}

.main-nav a:active {
  color: rgba(0,0,0, 0.3);
}

.advantage-box {
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.advantage-item {
  min-height: 256px;
}

.advantage-first-item-box {
  display: flex;
  min-width:
}

.advantage-first-text {
  flex-grow: 0;
}

.advantage-inner-img {
  flex-grow: 1;
}

.advantage-third-item-box {
  display: flex;
  flex-direction: row-reverse;
}

.advantage-item-container {
  display: flex;
  justify-content: space-around;
}


.advantage-inner-list {
  display: flex;
}

.advantage-list {
  list-style: none;
  background-color: #eeeeee;
  }

.advantage-title {
  font-size: 21px;
  color: #000000;
  font-style: bold;
}

.advantage-list h2 {
  font-size: 21px;
  line-height: 21px;
}

.advantage-list p {
  line-height: 21px;
}

.advantage-first-item {
  color: #ffffff;

}

.advantage-first-text {
  background-color: #81b3d2;
}


.advantage-third-item {
  color: #ffffff;
}

.advantage-third-text {
  background-color: #81b3d2;
}

.advantage-inner-item {
  min-height: 256px;
  list-style: none;
  background-color: #ffffff;
}

.advantage-inner-item h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.advantage-inner-item p {
  line-height: 21px;
  color: #333333;
}

.advantage-inner-item::before {
  content: url("../img/icon-1.svg");
}

.hotels-search {
  text-align: center;

  background-color: #ffffff;


  max-width: 1200px;
}

.hotels-search-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotels-search-description{
  line-height: 24px;
}

.hotels-search-button {
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  color:  #ffffff;

  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
  margin-left: 316px;
  margin-right: 316px;
  padding: 35px 139px 33px;

  display: flex;
  justify-content: center;

}

.hotels-search-button:hover,
.hotels-search-button:focus {
  background-color: #604e43;
}

.hotels-search-button:active {
  background-color: #503e33;
}

.search-form-box {
  text-align: center;

  padding: 50px;
  margin-left: 316px;
  margin-right: 316px;


  display: flex;  
  justify-content: center;

}

.search-form {
  background-color: #ffffff;
  border: none;
}

.search-form-box label{
  font: inherit;
  font-weight: 700;
  color: #000000;
}
.search-form-box input{
  font: inherit;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.search-form {
  background-color: #f2f2f2;
  border: none;
}

.search-form-item-input-text-box::after {
  content: url("../img/calendar.svg")
}

.search-form-button {
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  max-width: 458px;
  padding: 17px 195px;

}

.main-footer {
  text-align: center;
   background-color: #ffffff;
   display: flex;
   justify-content: space-around;
}

.social-list {
  display: flex;
  justify-content: space-around;
}

.hashtag-footer {
  font-weight: 700;
  font-size: 21px;

  color: #000000;
}
.box {
    padding-left: 71px;
    padding-right: 71px;
}

.filter {
  display: flex;
}

.sorting-box {
  text-align: left;

  background-color: #ffffff;

  display: flex;
}

.sorting-list {
  text-decoration: underline;
  text-decoration-style: dotted;

  display: flex;
  justify-content: space-around;
}

.sorting-box {
  text-align: center;
  background-color: #ffffff;
}

.sorting-box a {
  color: rgba(0,0,0, 0.3);
}

.sorting-box a:hover,
.sorting-box a:focus {
  color: #81b3d2;
}

.sorting-box a:active {
  color: #000000;
}

.container-catalog {
  background-color: #ffffff;
}

.hotel-list {
  display: flex;
  flex-direction: column;
}

.hotel {
  display: flex;
}

.hotel h3 {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.hotel h3:hover,
.hotel h3:focus {
  color: #81b3d2;
}
.hotel h3:active {
  color: rgba(0,0,0, 0.3);
}

.hotel label {
  line-height: 21px;
}

.hotel-battons-more {
  font-size: 700;
  line-height: 21px;
  color: #ffffff;
  max-width: 110px;
  padding: 8px 16px;
  background-color: #81b3d2;
}

.hotel-battons-more:hover,
.hotel-battons-more:focus {
  background-color: #669ec0;
}

.hotel-battons-more:active {
  color: rgba(255,255,255,255,0,3);
  background-color: #5496bd;
}

.hotel-battons-reserv {
  font-size: 700;
  line-height: 21px;
  color: #ffffff;
  max-width: 142px;
  padding: 8px 16px;
  background-color: #766357;
}

.hotel-battons-reserv:hover,
.hotel-battons-reserv:focus {
  background-color: #604e43;
}

.hotel-battons-reserv:active {
  color: rgba(255,255,255,255,0,3);
  background-color: #503e33;
}
