body {
   margin: 0;
   padding: 0;

   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 26px;
   font-style: normal;
   color: #333333;
   text-transform: uppercase;

   background-color: #F2F2F2;

 }

 footer {
   text-align: center;
   background-color: #ffffff;
 }

 img {
   max-width: 100%;
  }

 a:not(.sorting-box) {
   text-decoration: none;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.container {
   padding-left: 40px;
   padding-right: 40px;
 }

.hero {
  background-image: url("../img/banner.jpg");
  background-position: top center;
  background-repeat: no-repeat;

}

.hero-hotels {
  background-image: url("../img/filter_background.jpg");
  background-position: top center;
  background-repeat: no-repeat;

}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.nav-list {
  list-style: none;
}

.main-nav {
  background-color: #ffffff;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover {
  color: #81b3d2;
}

.main-nav a:focus {
  color: rgba(0,0,0, 0.3);
}

.advantage-box {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}

.advantage-list {
  list-style: none;
  background-color: #eeeeee;
  }

.advantage-title {
  font-size: 21px;
  color: #000000;
  font-style: bold;
}

.advantage-subtitle {
  font-size: 14px;
}

.advantage-list h2{
  font-size: 21px;
  line-height: 21px;
}

.advantage-list p{
  font-size: 14px;
  line-height: 21px;
}

.advantage-first-item {
  color: #ffffff;

}

.advantage-first-text {
  background-color: #81b3d2;
}


.advantage-third-item {
  color: #ffffff;
}

.advantage-third-text {
  background-color: #81b3d2;
}

.advantage-inner-item {
  list-style: none
}

.advantage-inner-item h3{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.advantage-inner-item p{
  font-size: 14;
  line-height: 21px;
  color: #333333;
}

.hotels-search {
  text-align: center;

  background-color: #ffffff;

  height: 290px;
  width: inherit;
}

.hotels-search-title{
  font-size: 30px;
  line-height: 36px;
  font-size: 700;
  color: #000000;
}

.hotels-search-description{
  font-size: 14px;
  line-height: 24px;
}
.hotels-search-button {
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color:  #ffffff;

  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
  height: 86px;
  width: 568px;

}

.hotels-search-button:hover {
  background-color: #604e43;
}

.hotels-search-button:focus {
  background-color: #503e33;
}

.search-form-box {
  text-align: center;


  background-color: #ffffff;
}

.search-form-box label{
  font: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}
.search-form-box input{
  font: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.search-form-button {
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  height: 58px;
  width: 458px;
}

.hashtag-footer {
  font-weight: 700;
  font-size: 21px;

  color: #000000;
}
.sorting-box {
  text-align: left;

  background-color: #ffffff;
}

.sorting-box a {
  color: rgba(0,0,0, 0.3);
  text-decoration: underline;
  text-decoration-style: dashed;
}

.sorting-box a:hover {
  color: #81b3d2;
}

.sorting-box a:focus {
  color: #000000;
}

.container-catalog {
  background-color: #ffffff;
}

.hotel h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel h3:hover {
  color: #81b3d2;
}
.hotel h3:focus {
  color: rgba(0,0,0, 0.3);
}

.hotel label {
  line-height: 21px;
}

.hotel-battons-more {
  font-size: 700;
  line-height: 21px;
  color: #ffffff;

  width: 110px;
  height: 27px;

  background-color: #81b3d2;
}

.hotel-battons-more:hover {
  background-color: #669ec0;
}

.hotel-battons-more:focus {
  color: rgba(255,255,255,255,0,3);
  background-color: #5496bd;
}

.hotel-battons-reserv {
  font-size: 700;
  line-height: 21px;
  color: #ffffff;

  width: 142px;
  height: 27px;

  background-color: #766357;
}

.hotel-battons-reserv:hover {
  background-color: #604e43;
}

.hotel-battons-reserv:hover {
  color: rgba(255,255,255,255,0,3);
  background-color: #503e33;
}
